<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ s.description }}">
    <meta name="keywords" content="{{ s.keywords }}">
    <meta name="robots" content="index, follow">
    <meta mane="copyrights" content="CopyRights &copy; {{ s.title }}">
    <link rel="stylesheet" href="{{ url }}/assets/default/css/nexus.css">
    <title>{{ s.title }}</title>
</head>
<body>